#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Modo Claro */
body {
  background-color: #ffffff;
  color: #333333;
}

/* Modo Oscuro */
.dark-mode {
  background-color: #1a1a1a;
  color: #ffffff;
}