/*
Se cambian por import para evitar "rayitas"
@tailwind base;
@tailwind components;
@tailwind utilities;
*/

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.svg-icon {
  width: 2em;
  height: 2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #03152c;
}

.svg-icon circle {
  stroke: #a00a0a;
  stroke-width: 1;
}


.tableSortIcon{
  @apply h-5 w-5 text-gray-400 inline-block;    
}
